<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Posts</title>
  </head>
  <body>
    <%- include("./include/navbar.ejs") %>
    <div class="post-header container">
      <div class="sider"></div>
      <h1 class="center posts heading">Posts</h1>
      <div class="new f aic jce">
        <a href="/posts/new">Creat +</a>
      </div>
    </div>
    <div class="container">
      <div class="allposts">
        <% for (const post of posts) {%>
        <div class="post">
          <div class="userdp">
            <img src="<%= post.imgageURL %>" alt="" />
          </div>
          <div class="wholecontent">
            <div class="bar">
              <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
            </div>
            <h2 class="username">
              @<%= post.username %>
              <sub>(<%= post.gender %>)</sub>
            </h2>
            <h4 class="id">id: <%= post.id %></h4>
            <p class="content"><%=post.content%></p>
            <a href="http://localhost:8080/posts/<%= post.id %>">See more </a>
          </div>
        </div>
        <%} %>
      </div>
      <%- include('./include/numbers.ejs') %>
    </div>
    <%- include("./include/footer.ejs") %>
  </body>
</html>
